body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#home-container { background-image: url("../images/Home.svg"); }
#signup-container { 
  background-image: url("../images/SignUp.svg");
  display: flex;
}
#login-container { 
  background-image: url("../images/LogIn.svg");
  display: flex;
}
#collection-container { background-image: url("../images/Collection.svg"); }

.content-container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 600px;
  margin: 0;
  overflow: hidden;
  background-color: #32682B;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

h1 b { font-size: 60px; }

b { color: #FFFFFF; }

#logo {
  width: 70%;
  padding-top: 20px;
}

.btn {
  width: 60%;
  font-size: 1.5rem;
  padding: 12px;
  margin: 10px 0;
  border-radius: 40px;
  border-style: outset;
  border-width: 3px;
  border-color: #543A2B;
  font-weight: bold;
  background-color: #C3947C;
  color: #FFFFFF;
  box-shadow: 0 4px #999;
}

.btn:active {
  background-color: #A77961;
  border-color: #543A2B;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.btn:hover, .btn:active:hover {
  background-color: #A77961;
  border-color: #543A2B;
}

input {
  height: 45px;
}

.back p {
  color: white;
  margin: 0;
  font-size: 16px;
}

.back {
  position: fixed;
  top: 0;
  left: 16px;
  height: 50px;
  width: 120px;
  display: flex;
  align-items: center;
  z-index: 999;
}

.back img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}