#board {
  position: relative;
}

#map {
  position: relative;
}

#outer {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}

.pointer {
  position: absolute;
  width: 5%;
  height: 10%;
  transition: transform 0.5s;
}

#newman { top: 39%; left: 15%; }
#into { top: 48%; left: 42%; }
#streath { top: 57%; left: 77%; }
#armory { top: 41%; left: 69%; }
#harrison { top: 10%; left: 57%; }
#forum { top: 65%; left: 46%; }